@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    max-width: 100%;
    padding: 0 16px 0 16px;
}
img 
{ max-width: 100%;
}
ul {
    list-style: none;
}
a { 
    text-decoration: none;
    color: #FFFFFF;
}
//ヘッダー
#header {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/mainvisual.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#header .nav-li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li {
        padding: 24px;
        font-size: 21px;
        font-weight: bold;
        filter: drop-shadow(15px 1px 5px );
    }
}
#header .nav-li li a:hover {
	color: red; 	/*リンクにマウスが乗ったら背景色を変更する*/
}

.site-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    img {
        height: 128px;
    }
}

//メニュー
#menu .sec-box {
    background-image: url(../img/menu.jpg);
    height: 300px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        width: 100%;
        color: #FFFFFF;
        font-size: 5rem;
        text-align: center;
    }
}
#menu .sec-box {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }//画面固定



.menu-wrapper {
    display: flex;
    padding: 90px 16px 150px 16px;
    margin: 0 30px;
}

.coffee-detail {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    dt {
        width: 87%;
        line-height: 31px;
        padding-top: 30px;
        border-bottom: dashed 0.5px;
    }
    dd {
        width: 13%;
        line-height: 21px;
        padding-top: 30px;
    }
}

.coffee-content {
    width: 50%;
    padding: 0 0 0 35px;
    text-align: center;
    border-right: solid 1.35px black;
}    
.sub-title {
    display: inline-block;
    margin: 0 0 70px 0;
    padding-bottom: 5px;
    border-bottom: solid 7px red;
    font-size: 3rem
}

.food-content {
    width: 50%;
    padding: 0 35px;
    display: block;
    text-align: center;
    padding: 0 0 0 35px;
    .sub-title {
        text-align: center;
        margin-bottom: 0 0 70px 0;
    }
}
.food-detail {
    display: flex;
    flex-wrap: wrap;
    text-align: left;

    dt {
        width: 87%;
        line-height: 31px;
        padding-top: 30px;
        border-bottom: dashed 0.5px;

    }
    dd {
        width: 13%;
        line-height: 21px;
        padding-top: 30px;
    }
}
.other-content {
    width: 100%;
    padding: 108px 0 0 0;
    display: block;
    .sub-title {
        text-align: center;
        margin-bottom: 0 0 70px 0;
    }
}

.other-detail {
    display: flex;
    flex-wrap: wrap;
    text-align: left;

    dt {
        width: 87%;
        line-height: 31px;
        padding-top: 30px;
        border-bottom: dashed 0.5px;

    }
    dd {
        width: 13%;
        line-height: 21px;
        padding-top: 30px;
    }
}



// about
#about .sec-box {
    background-image: url(../img/about.jpg);
    height: 300px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        width: 100%;
        color: #FFFFFF;
        font-size: 5rem;
        text-align: center;
    }
}
#about .sec-box {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


/*----- location -----*/
#location .sec-box {
    background-image: url(../img/location.jpg);
    height: 300px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        width: 100%;
        color: #FFFFFF;
        font-size: 5rem;
        text-align: center;
    }
}
#location .sec-box {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
